sqlalchemy==2.0.30
psycopg2-binary==2.9.9
Flask==3.0.3
gunicorn==22.0.0

deepface==0.0.93
tensorflow-cpu==2.16.1
tf-keras==2.16.0
keras==3.3.3

opencv-python-headless==4.10.0.84
retina-face==0.0.17

numpy==1.26.4
pandas==2.2.2
Pillow==10.3.0
protobuf==4.25.3
h5py==3.11.0
scikit-learn==1.5.0
